function Kitchen.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 12
call Grill.new 2
pop this 0
push constant 3
push constant 12
call DeepFryer.new 2
pop this 1
push constant 6
push constant 12
call CuttingTable.new 2
pop this 2
push constant 9
push constant 12
call FoodStand.new 2
pop this 3
push constant 0
push constant 6
call Counter.new 2
pop this 4
push pointer 0
return
function Kitchen.erase 0
push argument 0
pop pointer 0
push this 0
call Grill.erase 1
pop temp 0
push this 1
call DeepFryer.erase 1
pop temp 0
push this 2
call CuttingTable.erase 1
pop temp 0
push this 3
call FoodStand.erase 1
pop temp 0
push constant 0
return
function Kitchen.draw0 0
push argument 0
pop pointer 0
push this 0
call Grill.draw0 1
pop temp 0
push this 1
call DeepFryer.draw0 1
pop temp 0
push this 2
call CuttingTable.draw0 1
pop temp 0
push this 3
call FoodStand.draw0 1
pop temp 0
push this 4
call Counter.draw0 1
pop temp 0
push constant 0
return
function Kitchen.draw1 0
push argument 0
pop pointer 0
push this 0
call Grill.draw1 1
pop temp 0
push this 1
call DeepFryer.draw1 1
pop temp 0
push this 2
call CuttingTable.draw1 1
pop temp 0
push constant 0
return
function Kitchen.draw2 0
push argument 0
pop pointer 0
push this 0
call Grill.draw2 1
pop temp 0
push this 1
call DeepFryer.draw2 1
pop temp 0
push this 2
call CuttingTable.draw2 1
pop temp 0
push constant 0
return
function Kitchen.draw3 0
push argument 0
pop pointer 0
push this 0
call Grill.draw3 1
pop temp 0
push this 1
call DeepFryer.draw3 1
pop temp 0
push this 2
call CuttingTable.draw3 1
pop temp 0
push constant 0
return
